# -------------------------
# Python / Rasa
# -------------------------
/rasa/.rasa/
/rasa/.venv/
/rasa/actions/__pycache__/

# -------------------------
# Java / Spring Boot
# -------------------------
target/
build/
*.class
*.jar
out/

# -------------------------
# Docker local volumes
# -------------------------
mysql-data/
redis-data/
rabbitmq-data/
docker-data/

# -------------------------
# IDE / Editors
# -------------------------
.idea/

# -------------------------
# Logs
# -------------------------
*.log
logs/
