<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${id}">Chat</title>
    <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>

<div id="chat-container">
    <div id="chat-header">
        <h3>Clinic Bot</h3>
    </div>
    <ul id="messages"></ul>
    <div id="input-container">
        <input type="text" id="message-input" placeholder="Type a message..." />
        <button id="send-btn" disabled>Send</button>
    </div>
</div>

<!-- Thymeleaf injects user ID -->
<script th:inline="javascript">
    /*<![CDATA[*/
        const userId = [[${id}]];
        const userType = '[[${userType}]]';
    /*]]>*/
</script>

<script src="/js/sockjs.min.js"></script>
<script src="/js/stomp.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
